name: Subscribe Go Proposal Minutes

on:
  schedule:
    - cron: "0 0 * * *" # Daily at 09:00 JST
  workflow_dispatch:

permissions:
  contents: read

jobs:
  subscribe:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        issue:
          - title: Go Proposal Minutes
            number: 33502
          - title: Go Language Change Proposal Minutes
            number: 33892
    steps:
      - name: Get new comment
        id: get_new_comment
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          YESTERDAY=$(date -u --date="yesterday" +%Y-%m-%d)
          COMMENT=$(gh issue view ${{ matrix.issue.number }} \
            -R golang/go \
            --json "comments" \
            --jq ".comments[-1] | select(.createdAt > \"$YESTERDAY\") | .body")
          if [ -n "$COMMENT" ]; then
            echo "comment_found=1" >> "$GITHUB_OUTPUT"
            {
              echo "comment<<EOF"
              echo "$COMMENT"
              echo ""
              echo "EOF"
            } >> "$GITHUB_OUTPUT"
          fi
      # NOTE: You can customize this for your own subscribers!
      - name: Send notification
        if: steps.get_new_comment.outputs.comment_found == '1'
        env:
          MESSAGE: |
            ## [${{ matrix.issue.title }}](https://github.com/golang/go/issues/${{ matrix.issue.number }})
            ${{ steps.get_new_comment.outputs.comment }}
            ---
            This feed is managed by [traP-jp/go-proposal-minutes-subscriber](//github.com/traP-jp/go-proposal-minutes-subscriber).
          WEBHOOK_URL: https://q.trap.jp/api/v3/webhooks/${{ secrets.WEBHOOK_ID }}
          WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
        run: |
          SIGNATURE=$(echo -n "$MESSAGE" \
            | openssl sha1 -hmac $WEBHOOK_SECRET \
            | awk '{ print $2 }')
          curl \
            -X POST \
            -H "Content-Type: text/plain; charset=utf-8" \
            -H "X-TRAQ-Signature: $SIGNATURE" \
            -d "$MESSAGE" \
            $WEBHOOK_URL
